doctype html
html
  head
    title Search
  body
    h1 Search
    form(action='/ps4/route1', method='post')
      label(for='query') Query:
      input(type='text', name='query')
      button(type='submit') Submit
    form(action='/ps4/route2', method='post')
      label(for='query') Query:
      input(type='text', name='query')
      button(type='submit') Submit
    form(action='/ps4/route3', method='post')
      label(for='query') Query:
      input(type='text', name='query')
      button(type='submit') Submit
doctype